:root {
  --mainColor: #661B82;
  --secundaryColor: #636363;
  --accentColor: #49CBA4;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.modal {
  width: 100%;
}

@media screen and (min-width: 768px) {

  .modal {
    width: 80%;
    max-width: 900px;
    margin: 1rem auto;

    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px #e6e6e6;
  }

}

.modal___header {
  position: relative;

  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.header__title {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;

  color: var(--mainColor);
  font-size: 1.2rem;
  font-weight: 400;
}

.header__btn {
  height: 100%;
  max-height: 60px;
  width: 15%;
  max-width: 50px;

  color: var(--secundaryColor);
  font-size: 1rem;
  font-weight: 700;

  background: none;
  border: none;
}

.header__btn--next {
  position: absolute;
  right: 0;
  border-left: 1px solid #e6e6e6;
}

.header__btn--previous {
  position: absolute;
  left: 0;
}

.header__breadcrumb {
  display: none;
  width: 100%;

  border-top: 1px solid #e6e6e6;
}

@media screen and (min-width: 768px) {

  .header__breadcrumb {
    display: flex;
  }

}

.breadcrumb__step {
  position: relative;

  display: inline-block;
  width: 50%;
  margin: 0;

  color: #999999;
  font-weight: bold;
  background-color: #E9E9E9;
}

.breadcrumb__step:first-child::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;

  width: 0;
  height: 0;

  background-color: #fff;
  border-style: solid;
  border-width: 26px 0 25px 20px;
  border-color: transparent transparent transparent #E9E9E9;
}

.breadcrump--active {
  color: var(--mainColor);
  background-color: #fff;
}

/* FOOTER */

.modal__footer {
  display: flex;
  
  background-color: #F5F5F5;
  border-top: 1px solid #e6e6e6;
}

@media screen and (min-width: 768px) {

  .modal__footer {
    padding: 1rem 2rem;
  }

}

.footer__seal {
  display: none;
  flex: 50%;
}

@media screen and (min-width: 768px) {

  .footer__seal {
    display: flex;
    align-items: center;
  }

}

.footer__btn {
  flex: 40%;
  width: 100%;
  padding: 1.2rem 1rem;

  color: #fff;
  font-size: 1rem;
  font-weight: bold;

  background-color: var(--accentColor);
  border: none;
}

@media screen and (min-width: 768px) {

  .footer__btn {
    border-radius: 6px;
  }

}
