:root {
  --mainColor: #661B82;
  --secundaryColor: #636363;
  --accentColor: #49CBA4;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}


/*  MODAL: */

.modal {
  width: 100%;
  background-color: #F5F5F5
}

@media screen and (min-width: 1170px) {

  .modal {
    width: 80%;
    height: 590px;
    max-width: 1000px;
    margin: 1rem auto;

    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px #e6e6e6;
  }

}

/*  MODAL HEADER: */

.modal___header {
  position: relative;

  text-align: center;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (min-width: 1170px) {

  .modal___header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

}

.header__btn {
  height: 100%;
  max-height: 60px;
  width: 15%;
  max-width: 50px;

  color: var(--secundaryColor);
  font-size: 1rem;
  font-weight: 700;

  background: none;
  border: none;
}

.header__btn--previous {
  display: none;
  position: absolute;
  left: 0;
}

.header__title {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;

  color: var(--mainColor);
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (min-width: 1170px) {

  .header__title {
    font-weight: bold;
  }

}

.header__btn--next {
  position: absolute;
  right: 0;
  border-left: 1px solid #e6e6e6;
}

.header__breadcrumb {
  display: none;
  width: 100%;

  border-top: 1px solid #e6e6e6;
}

@media screen and (min-width: 1170px) {

  .header__breadcrumb {
    display: flex;
  }

}

.breadcrumb__step {
  position: relative;

  display: inline-block;
  width: 50%;
  margin: 0;

  color: #999999;
  background-color: #E9E9E9;
}

.breadcrumb__step:first-child::after {
  content: '';

  position: absolute;
  top: 0;
  right: -19px;
  z-index: 99999;

  width: 0;
  height: 0;

  border-style: solid;
  border-width: 26px 0 25px 20px;
  border-color: transparent transparent transparent #e6e6e6;
}

.breadcrump--active {
  color: var(--mainColor);
  background-color: #fff;
}

.breadcrump--active:first-child::after {
  border-color: transparent transparent transparent #fff;
}

/* FOOTER */

.modal__footer {
  display: flex;

  border-top: 1px solid #e6e6e6;
}

@media screen and (min-width: 1170px) {

  .modal__footer {
    padding: 1rem 2rem;
  }

}

.footer__seal {
  display: none;
  flex: 50%;
}

@media screen and (min-width: 1170px) {

  .footer__seal {
    display: flex;
    align-items: center;
  }

}

.footer__btn {
  display: none;
  flex: 40%;
  width: 100%;
  padding: 1.4rem 1rem;

  color: #fff;
  font-size: 1rem;
  font-weight: bold;

  background-color: var(--accentColor);
  border: none;
}

.footer__btn:disabled {
  background-color: grey;
}

@media screen and (min-width: 1170px) {

  .footer__btn {
    border-radius: 6px;
  }

}

/* STEPS */

.modal__steps {
  padding: 4rem .4rem;
}

@media screen and (min-width: 1170px) {

  .modal__steps {
    padding: 3.6rem 2rem;
  }

}

.step {
  display: none;
}

.step__item {
  flex: 50%;
}

@media screen and (min-width: 1170px) {

  .step__item {
    height: 270px;

  }

}

/* FIRST STEP */

@media screen and (min-width: 1170px) {

  .step--firstStep.active {
    display: flex;
  }

}

.step__planPrice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step__coin {
  color: var(--secundaryColor);
  font-size: 1.2em;
}

.step__price {
  margin-top: -1rem;

  color: var(--mainColor);
  font-size: 7rem;
  font-weight: bold;
}

.step__cents {
  color: var(--mainColor);
  font-size: 2rem;
  font-weight: bold;
}

.step__discount {
  font-size: .8rem;
  font-weight: normal;
}

.step__planType {
  align-self: flex-end;
  margin-left: -2rem;
  margin-bottom: 1rem;

  color: #D8317F;
  font-size: 1rem;
}

.step__total {
  flex: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;

  color: var(--secundaryColor);
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 1170px) {

  .step__total {
    display: block;
    margin-bottom: 0;
  }

}

.step__label {
  display: flex;
  align-items: center;

  margin-top: .4rem;
  padding: 1.4rem 1rem;

  color: var(--mainColor);
  font-size: 1.2rem;
  font-weight: bold;

  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

.step__plans--checked {
  position: relative;

  color: #fff;
  background-color: var(--mainColor);
}

@media screen and (min-width: 1170px) {

  .step__plans--checked::before {
    content: '';
    position: absolute;
    top: 1.4rem;
    left: -.8rem;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 14px 12px 0;
    border-color: transparent var(--mainColor) transparent transparent;
  }

}

.step__plans--checked .step__discount {
  color: #fff;
}

.step__paymentMethods {
  display: none;
  width: 60%;
  margin: 1rem auto 0 auto;
  padding-left: 2rem;

  font-size: .9rem;
  border-top: 1px dashed #e6e6e6;
}

@media screen and (min-width: 1170px) {

  .step__paymentMethods {
    display: block;
  }

}

.step__label {
  position: relative;
}

.step__input {
  visibility: hidden;
}

.check__icon {
  position: absolute;
  top: 1.4rem;
  left: .8rem;

  display: block;
  height: 20px;
  width: 20px;

  border-radius: 50%;
  border:  2px solid var(--secundaryColor);
}

.step__input:checked + .check__icon {
  border-color: #fff;
}

.step__input:checked + .check__icon::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.step__months {
  flex: 50%;
  padding-left: .4rem;
}

.paymentMethods__list {
  list-style: none;
  padding-left: 0;
}

.paymentMethods__item {
  display: flex;
  align-items: center;
  margin-bottom: .6rem;

  color: var(--secundaryColor);
}

.paymentMethods__icon {
  display: flex;
  width: 20px;
  height: 20px;

  margin-right: .2rem;
}

.paymentMethods__method {
  display: inline-block;
  margin: 0;
}

/* SECOND STEP */

.step--secondStep {
  padding-left: .2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 1170px) {

  .step--secondStep {
    width: 75%;
    margin: 0 auto;
    padding: 0;
  }

}

.step__choicePlan {
  display: none;

  color: #999999;
  font-size: .9rem;
}

@media screen and (min-width: 1170px) {

  .step__choicePlan  {
    display: block;
  }

}

.choicePlan__type {
  color: #000;
}

@media screen and (min-width: 1170px) {

  .form {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;

    border-top: .11rem dashed #e6e6e6;
  }

}

.icon__cvv {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.form__label, .fieldset__legend {
  display: block;
  margin-bottom: .4rem;

  color: var(--secundaryColor);
  font-size: .9rem;
}

.form__field {
  width: 100%;
  padding: .6rem;

  color: var(--secundaryColor);
  font-size: .8rem;

  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

@media screen and (min-width: 1170px) {

  .form__group, .form__fieldset {
    flex: 20%;
  }

}

.form__field--secCode {
  width: 60%;
  background-image: url('../img/cvv-card.png');
  background-repeat: no-repeat;
  background-position: right;
}

.form__field--cardNumber {
  padding-left: 4.6rem;
  background-image: url('../img/credit-card.png');
  background-repeat: no-repeat;
  background-position: left;
}

.form__fieldset {
  padding: 0;
  border: none;
}

.form__group, .form__fieldset {
  margin-bottom: 1.4rem;
}

@media screen and (min-width: 1170px) {

  .form__group--larger {
    flex: 60%;
  }

  .form__group--larger .form__field {
    max-width: 460px;
  }

}

.form__field--select {
  max-width: 95px;
  background-color: #fff;
}

.step__warning {
  width: 100%;
  padding: .2rem;

  color: #CAA767;
  font-size: .8rem;
  text-align: center;

  border: 1px solid #FDF1B0;
  background-color: #FCF7DE;
}

/*  FINAL STEP */

.step--finalStep {
  text-align: center;
}

.finalStep__icon {
  width: 30%;
  max-width: 140px;
  margin: 1rem auto;
}

@media screen and (min-width: 1170px) {

  .finalStep__icon {
    width: 10%;
  }

}

.finalStep__message {
  margin-bottom: 4rem;
  color: var(--secundaryColor);
  font-size: 1.4rem;
}

@media screen and (min-width: 1170px) {

  .finalStep__message {
    font-size: 2rem;
  }

}

.finalStep__p {
  margin: 0;
}

.finalStep__p--highlight {
  font-weight: bold;
}

.finalStep__link {
  padding: 1.4rem 6rem;

  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--mainColor);
  border-radius: 6px;
}

.active {
  display: block;
}

/* MESSAGES */

.message {
  display: none;
}

.invalid__field {
  background-color: rgba(255, 0, 0, .1);
}

.invalid__field + .message {
  display: block;

  color: red;
  font-size: .8rem;
}
